/* IMPORTAÇÃO DAS FONTES */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.esconder {
    visibility: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* ESTILIZAÇÃO DO CABEÇALHO/HEADER */

header {
    height: 60px;
    width: 100vw;
    background-color: #0086C5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 50px 5px 50px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* ESTILIZAÇÃO DA IMAGEM DA LOGO */

.conteiner_logo_header {
    margin-left: -200px;
    cursor: pointer;
}

.conteiner_logo_header img {
    width: 150px;
}

/* ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO */

header nav {
    display: flex;
    margin-right: -430px;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header nav ul li {
    transition: 1s;
    cursor: pointer;
}

header nav ul li a p:hover {
    color: #313586;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a p {
    color: white;
    font-family: "Kadwa", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
}

/* ESTILIZAÇÃO DO BOTÃO ENTRAR DO HEADER/CABEÇALHO */

.button_entrar_header {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 33px;
    margin-right: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: #0086C5;
    font-family: 'Inter', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    transition: 0.5s;
    cursor: pointer;
}

.button_entrar_header:hover {
    background-color: #0086C5;
    color: white;
    border: 1px solid white;
}

/* COMEÇO DA ESTILIZAÇÃO DO CORPO DA PAGINA / MAIN 
ESTILIZAÇAO DO PRIMEIRO CONTAINER DA PAGINA QUE TEM O TITULO E A EVA*/

/* ESTILIZAÇÃO DO CONTAINER DO TITULO */

main {
    width: 100%;
    height: 100%;
}

#titulo_eva {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0 80px 0;
    padding: 0 0 20px 0;
}

.container_titulo {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.bem_vindo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: #0086C5;
    font-weight: 600;
}

.container_titulo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    width: 600px;
    line-height: 90px;
    margin: 0 0 20px 0;
    justify-content: left;
}

.paragrafo_titulo {
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    justify-content: left;
    line-height: 23px;
    margin: 0 0 20px 10px;
}

.pt2 {
    font-family: "Poppins", serif;
    font-weight: 300;
}

.container_botoes_titulo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container_botoes_titulo button {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.226);
    transition: .5s;
    cursor: pointer;
}

.container_botoes_titulo button:first-child:hover {
    transform: scale(1.05);
}

.container_botoes_titulo button:last-child:hover {
    background-color: #0086C5;
    color: white;
    transform: scale(1.05);
}

.container_botoes_titulo button:first-child {
    background-color: #0086C5;
    font-family: "Poppins", serif;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 46px;
    font-size: 16px;
    font-weight: 300;
}

.container_botoes_titulo button:last-child {
    background-color: white;
    font-family: "Poppins", serif;
    color: #0086C5;
    border: 1px solid #0086C5;
    border-radius: 5px;
    width: 130px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
}

/* ESTILIZAÇÃO DO CONTAINER DA EVA */

#container_eva {
    width: 371px;
    height: 583px;
    background-color: rgb(233, 233, 233);
    border: 1px solid #0086C5;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_eva {
    width: 100%;
    height: 70px;
    background-color: #0086C5;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px 20px 5px 20px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.158);
    margin: 0 auto;
    margin-bottom: 20px;
}

.conteudo_eva {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#header_eva h2 {
    font-family: "Poppins", serif;
    color: white;
    font-size: 27px;
    font-weight: 400;
}

#header_eva p {
    font-family: "Poppins", serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: -4px;
}

.balao_eva {
    padding: 5px 5px 30px 5px;
    margin: 5px;
    justify-content: left;
    background-color: #0086C5;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
    width: 65%;
}

.balao_usuario {
    padding: 5px 5px 30px 5px;
    margin: 5px 5px 5px 33%;
    justify-content: right;
    background-color: white;
    color: #0086C5;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #0086C5;
    width: 65%;
}

/* ESTILIZAÇÃO DO FOOTER/CAMPO DE PROMPT DO CONTAINER EVA */

.footer_eva {
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo_pesquisa {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}

#input_eva {
    height: 120%;
    width: 95%;
    border-radius: 5px;
    border: transparent;
    padding: 3px 3px 3px 20px;
    background-color: transparent;
    margin-left: -20px;
    border: 1px solid #0086C5;
}

#input_eva::placeholder {
    font-family: "Poppins", serif;
    color: black;
    border: none;
}

#botao_eva {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
    margin: 0 -10px 0 0;
}

#botao_eva img {
    width: 25px;
}

/* ESTILIZAÇÃO DA SEGUNGA SEÇÃO/SEÇÃO DE HOSPITAIS PRÓXIMOS */

#hospitais_proximos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 75px 0 75px;

}

#hospitais_proximos > h2:first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    margin: 0 0 40px 0;
}

.conteudo_hospitais_proximos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 50px 0 0 0;
}

/* ESTILIZAÇÃO DA LISTA DE HOSPITAIS */

.lista_hospitais {
    width: 50%;
    padding: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card_hospitais {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
    gap: 20px;
    width: 95%;
    transition: 0.5s;
    cursor: pointer;
}

.card_hospitais:hover .esconder:hover {
    transform: scale(1.05);
}

.lista_hospitais img {
    width: 240px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    border-radius: 20px;
}

.text_card {
    display: flex;
    flex-direction: column;
}

.text_card h2 {
    font-family: "Montserrat", serif;
    font-size: 15px;
    width: 80%;
}

.text_card p {
    font-family: "Montserrat", serif;
    width: 65%;
    font-size: 12px;
}

.line_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0 0 0;
    gap: 20px;
    width: 70%;
}

.nota {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 30%;
}

.nota p {
    font-family: "Montserrat", serif;
    width: 65%;
    font-size: 12px;
}

/* ESTILIZAÇÃO DA PARTE DO MAPA */

.mapa_container {
    width: 55%;
}

#foto_mapa {
    width: 95%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}

/* COMEÇO DA ESTILIZAÇÃO DE SERVIÇOS PARA VOCÊ */

#servicos_para_voce {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px 80px 20px 80px;
    margin: 40px 0 50px 0;
}

.text_servicos {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    font-family: "Montserrat";
}

.text_servicos h2 {
    font-size: 60px;
    width: 90%;
    font-weight: 500;
}

.text_servicos p {
    font-size: 17px;
    width: 100%;
    font-weight: 350;
}

.cards_servicos {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_servicos {
    width: 31%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}

.card_servicos:hover {
    transform: scale(1.02);
}

.line_top_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    gap: 10px;
}

.line_top_card img {
    width: 40px;
}

.card_servicos h2 {
    font-family: "Inter", serif;
    font-size: 20px;
    color: #0086C5;
    font-weight: 500;
}

.card_servicos p {
    font-family: "Inter", serif;
    font-size: 15px;
    width: 95%;
    height: 120px;
}

.footer_card_servicos {
    width: 100%;
    display: flex;
    justify-content: right;
}

.footer_card_servicos button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer_card_servicos button img {
    width: 30px;
}

/* ----------------------------------------------- */

#sobre_inrea {
    width: 100%;
    padding: 20px 100px 10px 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.text_sobre_inrea {
    width: 50%;
    padding: 5px;
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.text_sobre_inrea h2 {
    font-size: 35px;
    font-weight: 400;
}

.text_sobre_inrea img {
    width: 130px;
}

.text_sobre_inrea p {
    font-size: 15px;
}

.text_sobre_inrea a {
    text-decoration: none;
    color: #0086C5;
}

.text_sobre_inrea a p {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.imagem_inrea {
    width: 50%;
}

.imagem_inrea img {
    border-radius: 30px;
    width: 100%;
}

/* ------------------------------------------- */

footer {
    background-color: #0086C5;
    margin: 0 auto;
    margin-top: 100px;
    bottom: 0;
    width: 80%;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line1_footer {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px 50px 20px 10px;
    width: 100%;
    margin-bottom: 60px;
}

.line1_footer img {
    width: 400px;
}

.line2_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 0 0 70px;
}

.lista_links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    margin-bottom: -40px;
}

.lista_links a {
    text-decoration: none;
    color: white;
    font-family: "Inter", serif;
    cursor: pointer;
}

.line3_footer {
    width: 90%;
    border-bottom: 1px solid white;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 10px;
}

.line3_footer div:first-child {
    align-items: flex-start;
    width: 12%;
}

.line3_footer div:first-child p {
    color: white;
    font-family: "Inter", serif;
    margin-bottom: 5px;
}

.line3_footer div:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line3_footer div:last-child a img {
    width: 40px;
    cursor: pointer;
}

.line3_footer div:last-child a:last-child img {
    width: 32px;
    border-radius: 3px;
}

.line4_footer {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0 0 20px 60px;
}

.line4_footer p {
    color: white;
    font-family: "Inter", serif;
}