
/* Versão mobile */
@media (max-width: 414px) {
 body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  overflow-x: hidden; /* Impede scroll horizontal */
  box-sizing: borer-box;
  
}
 
  #form {
    width: 75%;
    margin: 0 15px; /* Margens laterais reduzidas */
    padding: 10px;
  }
  
  .banner-txt {
    width: 20%;
    justify-items: start;
  }

  .tudao {
    margin-top: 50px;
    width: 20%;
    margin: 0;
  }

  .tudao-dois {
    justify-items: start;
  }
}

@media (max-width: 480px) {
  #form {
    width: 100%;
    margin: 0 10px;
  }
}

.form {
  width: 10%;
  margin: 0;
  padding: 0%;
}

form {
  display: flex;
  width: 400px;
  margin-left: 0;
  padding: 0;
}

.logos {
  width: 100px;
  margin-right: 250px;
}

.logo-hc {
  width: 45px;
}

.logo-fiap {
  width: 100px;
}

.logo-imrea {
  width: 100px;
}

@media (max-width: 700px) {
  .img-pagina {
  display: none;
}
}



