/* ESTILIZAÇÃO RESPONSIVA DA PAGINA INICIAL */

@media screen and (max-width: 1100px)  {
    header {
        padding: 5px 20px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
        position: absolute;
        top: 0;
    }

    main {
        padding: 0;
    }

    section {
        padding: 0;
        margin: 0;
    }

    .conteiner_logo_header {
        width: 150px;
        left: 0;
        position: absolute;
        margin-left: 20px;
    }

    .nav_button_container {
        display: none;
    }

    .menu_hamburguer {
        display: block;
        margin-right: 20px;
        cursor: pointer;
        right: 0;
        position: absolute;
    }

    .nav_responsive_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        margin: 0 auto;
        margin-top: 380px;
        z-index: 10;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
        background-color: white;
        display: none;
    }

    .nav_responsive ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }

    .nav_responsive ul li {
        display: flex;
        border-bottom: 1px solid black;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
    }

    .nav_responsive ul li a p {
        font-size: 17px;
        color: black;
        justify-content: center;
        align-items: center;
    }

    #titulo_eva {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 10px;
        margin-top: 150px;
    }

    .container_titulo {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10px;
        margin: 0;
    }

    .container_titulo h1 {
        font-size: 290%;
        line-height: 47px;
        width: 100%;
    }

    .container_titulo p {
        width: 95%;
        font-size: 100%;
    }

    .container_botoes_titulo {
        justify-content: left;
    }

    #container_eva {
        width: 100vw;
        margin-top: 100px;
    }

    #hospitais_proximos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
    }

    .card_hospitais {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .card_hospitais img:nth-child(1) {
        display: none;
    }

    .conteudo_hospitais_poximos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .lista_hospitais {
        align-items: center;
        padding: 1px;
        width: 100vw;
        margin: 0 auto;
    }

    iframe {
        display: none;
    }

    .text_card {
        gap: 20px;
        width: 100vw;
        margin: 0 auto;
    }

    #servicos_para_voce {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        margin-top: 100px;
    }

    .text_servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: 0 auto;
        padding: 10px;
    }

    .text_servicos h2, .text_servicos p {
        width: 95%;
        justify-content: baseline;
    }

    .cards_servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        justify-content: center;
        margin-top: 40px;
    }

    .card_servicos {
        width: 100%;
        margin: 0 auto;
        justify-content: baseline;
        padding: 10px;
    }

    #sobre_inrea {
        width: 100vw;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 100px;
    }

    .text_sobre_inrea {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    #sobre_inrea img {
        display: none;
    }

    .cards {
        width: 300px;
        margin: 0 auto;
        justify-content: center;
        height: auto;
    }

    .conteudo_card {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .imagens {
        width: 100%;
        margin: 0 auto;
    }

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 200px 0 0 0;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 10px;
    }

    .titulo {
        justify-content: center;
        width: 90%;
        align-items: center;
        font-size: 53px;
        margin: 0 auto;
    }

    footer, #footer_integrantes {
        padding: 3px;
    }

    .line1_footer img, #footer_integrantes .line1_footer img {
        width: 200px;
    }

    .line2_footer, #footer_integrantes .line2_footer {
        padding: 20px;
    }

    .line3_footer, #footer_integrantes .line3_footer {
        padding: 20px;
    }

    .line4_footer, #footer_integrantes .line4_footer {
        padding:20px;
    }
    
}

@media screen and (max-width: 720px) {

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .paragrafos h1 {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}