
/* Versão mobile */
@media (max-width: 414px) {
 body {
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  overflow-x: hidden; /* Impede scroll horizontal */
  box-sizing: border-box;
  
}
  div.form-txt {
    margin-right: 200px;
  }

  #form {
    width: 5%;
    margin: 0 15px; /* Margens laterais reduzidas */
    padding: 10px;
  }
}

@media (max-width: 480px) {
  #form {
    width: 100%;
    margin: 0;
  }
}

.form {
  margin: 10px;
}

form {
  width: 360px;
  margin-left: 260px;
  padding: 0;
}

.banner-txt {
  margin-left: 0;
}

.logos {
  width: 100px;
  margin-left: 40px;
}

.logo-hc {
  width: 45px;
}

.logo-fiap {
  width: 100px;
}

.logo-imrea {
  width: 100px;
}

@media (max-width: 1000px) {
  .img-pagina {
  display: none;
}
}

@media (max-width: 395px) {
  form {
    width: 300px;
    margin-left: 190px;
  }

  div.form-txt {
    width: 300px;
    margin-left: 10px;
  }

  .logos {
    margin-left: 0;
  }
  
}
