* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.icone-logo {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  background: #0086C5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 75px;
}

.logo {
  font-weight: bold;
  display: flex;
  gap: 19px;
  align-items: center;
}

.logo span {
  color: #fff;
  margin: 0 4px;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 40%;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
  transition: color 0.5s;
}

.nav-links a:hover {
  color: #313586;
}

.entrar-btn {
  width: 137px;
  height: 35px;
  text-align: center;
  background: white;
  color: black;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s;
  border: 1px solid white;
}

.entrar-btn:hover {
  background: #0086C5;
  color: white;
}